body {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(210, 210, 210);
}

.topdivider {
    height: 50px;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 80%;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #616161;
    max-height: 46px;
}
  
.page {
    float: left;
}
  
.barCat {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.barCat:hover {
    background-color: #686868;
}

.barlogo {
    object-fit: cover;
    padding: 0;
    max-height: 46px;
}

.barlogo img {
    max-height: 46px;
    object-fit: cover;
}