* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.title{
    text-align: center;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

.medium {
    height: 5px;
  }

label {
    display: block;
    margin: 10px;
}

.inline {
    display: inline;
}

h1 {
    text-align: center;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2px;
}

.bold {
    font-weight: 800;
}