* {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
}

.title{
    text-align: center;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

.medium {
    height: 5px;
  }

label {
    display: block;
    margin: 10px;
}

.inline {
    display: inline;
}

h1 {
    text-align: center;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2px;
}

.bold {
    font-weight: 800;
}

/*.barlogo {
    object-fit: cover;
    height: 25x;
}*/

.header-nav {
    width: 100%;
    margin: 0;
}

.header-nav li {
    float: left;
}

.header-nav li, .header-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #888989;
    margin:0;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888989;
}

li a:hover {
    background-color: #111;
  }